@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&family=PT+Serif&family=Poppins:ital@0;1&family=Roboto&family=Signika+Negative:wght@600&display=swap");

.logo {
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 50px;
}

.logo:hover {
    color: #fff;
}

.encabezado {
    background-color: #CA0606;
}

.items {
    justify-content: end;
}

.items2 {
    text-decoration: none;
    color: white;
    display: block;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.items2:hover {
    color: yellow;
}

.navbar-toggler {
    border-color: #fff;
    color: white;
}

.navbar-toggler:focus {
    border-color: #fff;
    box-shadow: none;
}

img {
    margin-top: 15px;
    height: 250px;
    border-radius: 10px;
}

.card {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin: 10px;
    width: 280px;
    background-color: #CA0606;
}

.card-body h3 {
    color: #fff;
}

.card-body p {
    color: #fff;
}

.footer {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    background-color: #CA0606;
}

.footer p {
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.footer a:hover {
    color: yellow;
}

.titulo-catalogo {
    margin: 15px;
}

.titulo-carrito {
    margin: 15px;
}