@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&family=PT+Serif&family=Poppins:ital@0;1&family=Roboto&family=Signika+Negative:wght@600&display=swap");

.logo {
    font-family: "Oswald", sans-serif;
    color: #fff;
    font-size: 40px;
}

.logoPollo {
    margin: 10px;
    height: 100px;
}

.logo:hover {
    color: #fff;
}

.encabezado {
    background-color: #CA0606;
}

img {
    margin-top: 15px;
    height: 250px;
    border-radius: 10px;
}

.card {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin: 10px;
    width: 300px;
    background-color: #CA0606;
}

.card-title {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 50px;
    color: #fff;
    font-size: 25px;
}

.card-text{
    margin-top: 15px;
    height: 20px;
    color: #fff;
}

.card div button {
    margin: 15px;
}

.footer {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    background-color: #CA0606;
}

.footer p {
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.footer a:hover {
    color: yellow;
}

.titulo-catalogo {
    margin: 15px;
}

.contenedorCarrito {
    background-color: #ce3d3d;
}

.contenedorCarrito {
    color: #fff;
}

.contenedorCarrito th{
    color: #fff;
}

.contenedorCarrito tr td{
    color: #fff;
}